.App {
  text-align: center;
  background-color: azure;
  min-height: 100vh;
}
#root{
  min-height: 100vh;
}
html{
  height: 100%;
}
body{
  min-height:100%;
}

.App-header {
  background-color: #0c5a43;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.slide{
  width: 50%;
  margin: auto;
}

.comments{
  width: 50%;
  margin: auto;
}

.review{
  width: 50%;
  margin: auto;
}

