.App {
  text-align: center;
  background-image: url('congruent_pentagon.png');
  /* Background pattern from Toptal Subtle Patterns */
  min-height: 100vh;
}
#root{
  min-height: 100vh;
}
html{
  height: 100%;
}
body{
  min-height:100%;
}

.App-header {
  background-color: #232b2e;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.slide{
  width: 50%;
  margin: auto;
}

.comments{
  width: 50%;
  margin: auto;
}

.review{
  width: 50%;
  margin: auto;
}

.reviewCard{
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
}

.next{
  float: right;
}

.back{
  float: left;
}
